<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Dorcupi is an student who knows many programming languages and has many hobbies that he enjoys.
          From playing games, to making YouTube videos, he has the whole nine yards. Because of that, he loves many fun and unique projects.</p>
      </div>
      <div class="col-lg-4">
        <p>His projects range from making Minecraft datapacks, to weird websites to games that people would think are crazy.
          He activily makes new projects for the world to see and he won't be stopping any time soon.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://dorcupi.github.io/#portfolio" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Check Out Projects
        </a>
      </div>
    </div>
  </div>
</section>
